<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
        <div class="row" id="product-container">
            <div id="loader" style="">
                    <div class="clock-loader"></div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="list-view">
        
    </div>
</div>