<div class="container px-1 px-md-4 py-5 mx-auto" id="order-container">
</div>
<div id="divtoshow" style="position: fixed;display:none;background-color:blueviolet">Loading</div>
<div style="text-align: center;">
    <a id="load-more" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-right"></i> Load more</a>
</div>
{{#section "script"}}
<script>
    // ajax load more 
    let curr_page = {{{ page }}}
    $('document').ready(() => {
        $.ajax({
            type: "get",
            url: `/api/account/get_infor_order/${user_id}?page=${curr_page}`,
            dataType: 'json',
            success: function (infors) {
                appendInfor(infors)
            }
        })
    })
    function get_inforOrder() {
        $.ajax({
            type: "get",
            url: `/api/account/get_infor_order/${user_id}?page=${curr_page + 1}`,
            dataType: 'json',
            success: function (infors) {
                console.log('aaa', infors)
                curr_page++;
                appendInfor(infors)
            }
        })
    }
    document.querySelector('#load-more').addEventListener('click', get_inforOrder);
    function appendInfor(infors) {
        let html = '';
        $.each(infors, function (index, infor) {
            let lis = '';
            for (let i = 0; i < 3; i++) {
                if (i <= parseInt(infor.state)) {
                    lis += `<li class="active step0"></li>`;
                }
                else {
                    lis += `<li class="step0"></li>`;
                }
            }
            let styleCancel = ''
            if (infor.cancel) {
                console.log(infor.cancel);
                styleCancel = `style="background-color:gray;"`
                lis = ''
            }
            html += `<div class="card" id="${infor.id}" ${styleCancel}>
                    <div class="row d-flex justify-content-between px-3 top">
                        <div class="d-flex">
                            <h5>Order Id: <span onmouseover="hoverdiv(event,'divtoshow')" onmouseout="hoverdiv(event,'divtoshow')" class="text-primary font-weight-bold">${infor.id}</span></h5>
                        </div>
                        
                        <div class="d-flex flex-column text-sm-right">
                            <p class="mb-0">Shipping Address : <span>${infor.address}</span></p>
                            <p>Email: <span class="font-weight-bold">${infor.email}</span></p>
                            <p>Create Date: <span class="font-weight-bold">${infor.createdate}</span></p>
                            <p>Total: <span class="font-weight-bold">${infor.total}</span></p>
                        </div>
                    </div> 
                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <ul id="progressbar" class="text-center">
                                ${lis}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-7 d-flex justify-content-between top" >
                            <div class=" d-flex icon-content"> <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                                <div class="d-flex flex-column">
                                    <p class="font-weight-bold">Order<br>Processed</p>
                                </div>
                            </div>
                            <div class=" d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                                <div class="d-flex flex-column">
                                    <p class="font-weight-bold">Order<br>Shipped</p>
                                </div>
                            </div>
                            <div class=" d-flex icon-content"> <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                                <div class="d-flex flex-column">
                                    <p class="font-weight-bold">Order<br>Arrived</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <button data-id=${infor.id} data-cancel="${infor.cancel}" data-state="${infor.state}"class="btn btn-warning btn-cancel" >Cancel order</button>
                        </div>
                    </div>
                </div>`;
        });

        $('#order-container').append(html);
        addCancelEvent();

    }
    const order_cache = {};
    function hoverdiv(e, divid) {

        const left = e.clientX + "px";
        const top = e.clientY + "px";

        const div = document.getElementById(divid);
        $("#" + divid).toggle();
        const order_id = e.target.textContent;
        if (!order_cache[order_id]) {
            order_cache[order_id] = [];
            $.get(`/api/account/order/${order_id}`, (data, status) => {
                if (status === "success") {
                    div.innerHTML = "";
                    data.forEach(pro => {
                        const p = `<div class="row">
                                        <img src="${pro.image}" width=30 height=30>
                                        <p>${pro.title}, quantity:${pro.quantity}, price:${pro.price}</p>
                                    </div>`;
                        div.innerHTML += p;
                    })
                    order_cache[order_id] = data;
                }
            })
        }
        else {
            const data = order_cache[order_id];
            div.innerHTML = '';
            data.forEach(pro => {
                const p = `<div class="row">
                                <img src="${pro.image}" width=30 height=30>
                                <p>${pro.title}, quantity:${pro.quantity}, price:${pro.price}</p>
                            </div>`;
                div.innerHTML += p;
            })
        }
        div.style.left = left;
        div.style.top = top;
        return false;
    }

    function addCancelEvent() {

        document.querySelectorAll('.btn-cancel').forEach(btn => {
            const order_id = btn.dataset.id;
            const cancel = btn.dataset.cancel;
            const state = btn.dataset.state;
            
            if (cancel === "true" || parseInt(state) > 0) {
                btn.disabled = true;
                
                if(parseInt(state) > 0){
                    document.querySelector(`#${order_id}`).style.backgroundColor = '#d33b33';
                }
                else{
                    btn.textContent = "Order cancelled";
                    document.querySelector(`#${order_id}`).style.backgroundColor = 'gray';
                }
                
            } else {
                btn.addEventListener('click', () => {
                    $.ajax({
                        type: "delete",
                        url: `/api/account/${user_id}/order/${order_id}`,
                        dataType: 'json',
                        success: function (data) {
                            btn.disabled = true;
                            btn.textContent = "Order cancelled";
                            document.querySelector(`#${order_id}`).style.backgroundColor = 'gray';
                        }
                    })
                })
            }

        })
    }
</script>
{{/section}}